.container__Derecho{
    width: 8rem;
    height:fit-content;
    background-color: #f0f0f0;
    border-radius: 1rem;
    align-items: end;
    margin-top: 5rem;
    margin-left: 1rem;
    margin-right: 3rem;
}