.componente__Izquierda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20rem;
    height: fit-content;
    margin-left: 3rem;
    margin-right: 1rem;
    border-radius: 1rem;
    margin-top: 1rem;
}

.componente__Izquierda .foto {
    transform: translateX(27%); /* Centra horizontalmente */
    max-width: 60%;  
    max-height: 35%;
    border-radius: 1rem;
    border: 2px solid #656565; /* Agrega un borde a la imagen */
    margin-bottom: -100px;
}

.componente__Izquierda__Bajo {
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20rem;
    height: fit-content;
    border: 1px solid #ccc;
    margin-right: 1rem;
    border-radius: 1rem;
    padding-top: 6rem;
}

.componente__Izquierda__Bajo h1 {
    text-align: center;
}
