.container__redes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.buttonRedes {
    padding: 10px 15px;
    gap: 15px;
    background-color: #d4d4d4;
    outline: 3px #787878 solid;
    outline-offset: -3px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 400ms;
    margin: 0.5rem 1rem;
  }
  .buttonRedes svg path {
    transition: 400ms;
  }
  .buttonRedes:hover {
    background-color: transparent;
  }
  .buttonRedes:hover svg path {
    fill: #1f1e1e81;
  }