.componente__Izquierda{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20rem;
    height: 30rem;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    margin: 10px;
    margin-top: 5rem;
    margin-left: 3rem;
    margin-right: 1rem;
    border-radius: 1rem;
    position: relative; /* Posición relativa */

}

.componente__Izquierda img{
    position: absolute;
    margin-left: 21%;
    margin-right: 21%;
    width: 60%;
    height: 40%;
    margin-bottom: 23rem;
    border-radius: 1rem;
    border: 2px solid #656565; /* Agrega un borde a la imagen */

}